@import "tailwindcss";

.cell {
  @apply flex;
  @apply w-40;
  @apply h-10;
  @apply bg-gray-200;
  @apply align-middle;
  @apply text-base;
  @apply text-black;
}

.cell>p {
  @apply flex-1;
  @apply flex; 
  @apply items-center;
  @apply justify-center;
}